.wrapper--adaptive-filter{
  display: none;
}

.wrapper-catalog {
  display: flex;
  justify-content: center;
  gap: 50px;
  min-height: 90vh;
  margin: 30px 0;

  .wrapper-goods {
    display: flex;
    flex-direction: column;
    gap: 50px;

    .pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;

      p {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 40px;
        height: 40px;
      }

      p:hover {
        cursor: pointer
      }

      p.active {
        background-color: var(--secondary-btn-color);
      }

      .arrow {
        width: 12px;
      }

      .arrow:hover {
        cursor: pointer;
      }
    }

    .container-goods {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;


      .good {
        display: flex;
        gap: 30px;
        border-bottom: 1px solid black;


        .container-info {
          display: flex;
          flex-direction: column;
          gap: 50px;
          max-width: 500px;

          p {
            opacity: 0.5;
          }
        }

        .container-price {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 50px;

          .main-btn {
            width: 120px;
            height: 40px;
          }
        }
      }
    }
  }
}


@media (max-width: 700px) {

  .wrapper-goods{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .wrapper-catalog {
    gap: 10px;
    margin: 10px 0;

    .wrapper-goods {
      gap: 10px;

      .pagination {
        gap: 5px;

        p {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          width: 20px;
          height: 20px;
        }

        .arrow {
          width: 6px;
        }

      }
    }

    .container-goods {
      gap: 20px !important;


      .good {
        gap: 10px !important;

        img{
          height: 100px;
        }

        .container-info {
          gap: 10px !important;
          max-width: 200px;

          p {
            opacity: 0.5;
          }
        }

        .container-price {
          gap: 10px !important;
          max-width: 180px !important;
          .main-btn {
            font-size: 12px;
            width: 80px !important;
            height: 40px !important;
            padding: 10px !important;
          }
        }
      }
    }
  }
}
