
a {
  text-decoration: none;
  color: var(--main-text);
}

.main-btn {
  background-color: var(--main--btn-color);
  padding: 10px;
  border: none;
  border-radius: 10px;
  height: 60px;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.secondary-btn {
  background-color: var(--secondary-btn-color);
  padding: 10px;
  border: none;
  border-radius: 10px;
  height: 60px;
}

h2 {
  font-size: 30px;
}

h4{
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6{
  font-size: 16px;
}

p {
  font-size: 16px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  gap: 20px;
  width: 80%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
}

.container-input {
  display: flex;
  flex-direction: column;
  gap: 5px;

  input {
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid black;

  }
}


@media (max-width: 1000px){

}


@media (max-width: 700px){
  h2 {
    font-size: 20px !important;
  }

  h4{
    font-size: 18px !important;
  }

  h5 {
    font-size: 14px !important;
  }

  h6{
    font-size: 12px !important;
  }

  p {
    font-size: 12px !important;
  }

  section {
    width: 100%;
    padding: 0 20px;
  }
}


.page404 {
  h1 {
    font-size: 15rem;
  }

  p {
    font-weight: 400;
    font-size: 3rem;
  }

}