:root{
  --main--bg-color:#fff;
  --secondary--bg-color: #ededed;
  --main-text:#000;
  --main--btn-color:#FAD900;
  --secondary-btn-color:#E8F0F2;
  --border-radio:#CFE0E8;
  --radio-color: #8cd1ff;
}

