.wrapper-filter {
  display: flex;
  flex-direction: column;
  gap:50px;

  .container-filters {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .filter {
      display: flex;
      justify-content: space-between;
      padding: 15px;
      border-radius: 10px;
      border: 1px solid var(--border-radio);
      width: 300px;

      input[type="radio"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        border: 2px solid #999;
        border-radius: 50%;
        outline: none;
        margin-right: 5px;
      }

      input[type="radio"]:checked {
        border-color: var(--radio-color)
      }

      input[type="radio"]:checked::before {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        margin: 3px;
        border-radius: 50%;
        background: var(--radio-color);
      }
    }
  }
}
.filter-mobile{
  display: none;
}


@media (max-width: 700px) {

  .wrapper-filter{
    display: none;
  }

  .filter-mobile{
    display: block;
    text-align: center;
    padding: 10px !important;
    width: 80px;
    height: 40px ;
    position: absolute;
    top: 50px;
    left: 0;
  }

  .wrapper--adaptive-filter{
    display: flex !important;
    flex-direction: column;
    gap: 30px;
    position: fixed !important;
    z-index: 1000 !important;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white !important;
    padding: 20px;


    h3:hover{
      cursor: pointer;
    }

    .container-filters {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .filter {
        display: flex;
        justify-content: space-between;
        padding: 15px;
        border-radius: 10px;
        border: 1px solid var(--border-radio);
        width: 90% !important;

        input[type="radio"] {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          width: 20px;
          height: 20px;
          border: 2px solid #999;
          border-radius: 50%;
          outline: none;
          margin-right: 5px;
        }

        input[type="radio"]:checked {
          border-color: var(--radio-color)
        }

        input[type="radio"]:checked::before {
          content: "";
          display: block;
          width: 10px;
          height: 10px;
          margin: 3px;
          border-radius: 50%;
          background: var(--radio-color);
        }
      }
    }
  }

}

