#modal-root {
  position: relative;
  height: 100%;
  width: 100%;
}

.wrapper--module-window {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.37);

  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    border-radius: 20px;
    padding: 40px 70px;
    max-width: 900px;

    textarea{
      max-width: 100%;
      min-height: 150px;
      min-width: 500px ;
    }

    .container-buttons {
      display: flex;
      justify-content: space-between;

      button {
        width: 140px;
        height: 40px;
      }
    }
  }

}




@media (max-width: 700px) {
  #modal-root {
    position: relative;
    height: 100%;
    width: 100%;
  }

  .wrapper--module-window {
    height: 100%;
    width: 100%;

    .form {
      gap: 10px;
      padding: 40px 70px;
      max-width: 95%;

      textarea{
        min-width: 100px ;
      }

    }

  }

}