
.text-slider-container {
  background-color: #ccecff;
  height: 550px;
  padding: 30px;

  .wrapper-slide {
    display: flex;
    justify-content: space-around;
    width: 90%;

    .text-slide {
      display: flex;
      flex-direction: column;
      max-width: 900px;
      gap: 50px;

      h1 {
        font-size: 38px;
      }

      p {
        font-size: 18px;
      }

      button {
        width: 300px;
        font-size: 22px;
      }
    }
  }

  .swiper{
    height: 100%;

    .swiper-pagination-bullet{
      width: 25px;
      height: 25px;
    }
  }


}


@media (max-width: 1024px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
}


@media (max-width: 700px) {

  .wrapper-slide {
    img{
      width: 100px;
      height: 160px;
    }
  }
  .text-slider-container {
    background-color: #ccecff;
    height: 320px;
    padding: 10px;

    .wrapper-slide {
    align-items: center;

      .text-slide {
        gap: 20px;

        h1 {
          font-size: 24px;
        }


        button {
          width: 100px;
          height: 40px;
          padding: 5px;
          font-size: 16px !important;
        }
      }
    }

    .swiper{
      height: 100%;

      .swiper-pagination-bullet{
        width: 25px;
        height: 25px;
      }
    }


  }
}